body {
  background-color: #c342d4;
  color: #fff;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
}

.game-container {
  width: 80%;
  max-width: 600px;
  background-color:#d89fee ;
  padding: 20px;
  border-radius: 10px;
}

.choice-button {
  display: block;
  margin: 10px 0;
  padding: 10px;
  background-color: #663f5e;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.choice-button:hover {
  background-color: #ff1493;
}
#toggle-music{
  border:none;
  background: none;
  font-size: 20px;
  font-family: "Jersey 10", sans-serif;
  font-weight: 100;
  border-radius: 30px;
  background: linear-gradient(#d89fee,#c342d4);
  padding:10px;
  position:fixed;
  bottom: 50px;
  left:50px;
  color:#fff;
  text-shadow: #663f5e 0 0 5px;
  transition: 0.5s;

}
#toggle-music:hover{
  background-color: #ff1493;
}