@import url('https://fonts.googleapis.com/css2?family=Jersey+10&display=swap');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}

body{
    background: radial-gradient( #1A1A2E,#0A0A0A);
    height:100vh;
    overflow: hidden;
}
.header{
    position:absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    font-size: 60px;
    font-family: "Jersey 10", sans-serif;
    font-weight: 400;
    font-style: normal;
    animation: glitch 1s infinite alternate;
    
}

.header a{
    text-decoration: none;
    color: white;
    text-shadow: #8A2BE2 0 0 10px;
    transition:0.5s;
}
.header a:hover{
    animation: glitch 0.3s infinite alternate;
    color: #FF2A6D; /* Ярко-розовый (HotPink) */
    text-shadow: 0 0 8px #FF2A6D;

}
.header a:active{
    animation: glitch 0.1s infinite alternate;
    transform: translate(-50%, -50%) scale(0.98);
    color: #ff1493; /* Малиновый (DeepPink) */
    text-shadow: 0 0 12px #ff1493;
}

#toggle-music{
  border:none;
  background: none;
  font-size: 20px;
  font-family: "Jersey 10", sans-serif;
  font-weight: 100;
  border-radius: 30px;
  background: linear-gradient(#1A1A2E,#0A0A0A);
  padding:10px;
  position:fixed;
  bottom: 50px;
  width: 100px;
  left:50px;
  color:#fff;
  text-shadow: #8A2BE2 0 0 5px;
  transition: 0.5s;

}
#toggle-music:hover{
  background: linear-gradient(#8A2BE2,#1A1A2E);
  transform: scale(1.1);
}
.pixel-rain {
   position: absolute;
  width: 2px;
  height: 6px;
  background-color: rgb(170, 197, 197); /* Цвет пикселя (например, неоново-голубой) */
  top: -10px;
  left: 50%; /* Начальная позиция по горизонтали (можно рандомизировать в JS) */
  animation: pixelFall 2s linear infinite; /* Длительность анимации: 2 секунды */
}

/* Анимация падения пикселя */
@keyframes pixelFall {
  0% {
    transform: translateY(0) translateX(0);
    opacity: 1;
  }
  90% {
    transform: translateY(100vh) translateX(10px); /* Падение вниз + небольшое смещение по X */
    opacity: 1;
  }
  100% {
    transform: translateY(0) translateX(0); /* Возврат в начало */
    opacity: 0; /* Пиксель "исчезает" в конце, чтобы возвращение было незаметным */
  }
}

@keyframes glitch {
   0% {
    transform: translate(-50%, -50%) translate(0, 0);
    opacity: 1;
  }
  20% {
    transform: translate(-50%, -50%) translate(-3px, 3px);
    opacity: 0.8;
  }
  40% {
    transform: translate(-50%, -50%) translate(-3px, -3px);
    opacity: 0.8;
  }
  60% {
    transform: translate(-50%, -50%) translate(3px, 3px);
    opacity: 0.8;
  }
  80% {
    transform: translate(-50%, -50%) translate(3px, -3px);
    opacity: 0.8;
  }
  100% {
    transform: translate(-50%, -50%) translate(0, 0);
    opacity: 1;
  }
}

@media (max-width:768px){
  .header{
    font-size: 30px;
  }
}